---
layout: default
---

<section>
  <h1 class="display-1"><b>Principles of Design</b></h1>
  <p>@jsprlprd</p>
</section>

<section>
  <h1 class="display-3"><b>Agenda</b></h1>
  <section>
    <ul>
      <li class="fragment">Bootcamp Overview</li>
      <li class="fragment">The Psychology of Color</li>
      <li class="fragment">Elements of Visual Design</li>
      <li class="fragment">Principles of Design</li>
      <li class="fragment">Laws of UX</li>
      <li class="fragment">Tips & Tricks</li>
    </ul>
  </section>
</section>

{% include the-psychology-of-color.html%}

{% include elements-of-visual-design.html%}

{% include principles-of-design.html%}

{% include laws-of-ux.html%}


