<section>
  <h1 class="display-3"><b>The Psychology of Color</b></h1>
  <section>
    <h2>Red</h2>
    <p>Red has the longest wavelength of the color on the spectrum. and it is a colour that really captures your attention. It is the primary branding colour for a lot of success stories, including Coca Cola, Ferrari F1 and Manchester United. Red is aggressive, exciting, passionate, dangerous and energetic.</p>
    <p>In UI, red is also used as a primary warning or error colour. For this reason, it’s best to use red sparingly. Using it as your primary button or typography colour might confuse users if it’s also being used as a warning sign.</p>
  </section>

  <section>
    <h2>Orange</h2>
    <p>Next on the spectrum, we have orange. Nickelodeon, Fanta and Amazon are brands that use orange to communicate a fun, fresh and attractive brand. Orange is creative, successful and enthusiastic. It is less less serious and commanding than red, but less carefree than yellow.</p>
    <p>It is for this reason that orange makes a great colour for online ordering. Orange attracts our eye without warning or overwhelming us.</p>
  </section>

  <section>
    <h2>Yellow</h2>
    <p>Yellow is the colour of smiles and sunshine. It is bright, cheerful and optimistic. Using yellow on your site will add positivity and freshness. A strong yellow will Yellow makes a great background colour, as it instantly lifts the mood of the site.</p>
    <p>Yellow is the standard colour for post-its and highlighter markers, so it has connotations with activity and action. Use yellow to highlight deals and freebies offered on the website.</p>
  </section>

  <section>
    <h2>Green</h2>
    <p>Green is the colour of growth, fertility, health and nature. It is also the colour of wealth. Spotify and Starbucks use green in their logo to communicate youth and freshness.</p>
    <p>If your project is about health, fitness or well-being, there is a great opportunity to use soft greens with natural, earthy tones.</p>
    <p>Green is also the ‘go’ colour for a lot of people, as this is it’s meaning on road signs around Europe and North America. Green is a great colour to use for buttons, success messages and positive notifications. When the user has correctly entered their information, you might let them know in green.</p>
  </section>

  <section>
    <h2>Blue</h2>
    <p>Blue is the colour of the sea and the sky. It is harmony, peace, calm and relaxation. Using soft blue has a calming influence, and a strong vibrant blue is energetic.</p>
    <p>Blue is a very prominent colour in social media and communication companies like Facebook, Twitter and Skype.</p>
    <p>Health and hygiene companies use blue to promote freshness and cleanliness. Blue is also used to promote trust and security. A lot of universities use blue on their diploma certificates, and policemen wear blue.</p>
  </section>

  <section>
    <h2>Purple</h2>
    <p>Purple is the colour of royalty. It is associated with luxury, wisdom, and nobility. Lavender is a peaceful and calming colour, but vibrant purple can be overwhelming and even arrogant.</p>
    <p>Use purple in hints. But avoid using the color too much as it can cause feelings of frustration. Some perceive its overuse as arrogant. You can add hints of purple to your website’s design such as on your free shipping bar, your logo, and as an accent color in your graphics.</p>
    <p>Purple is a color brands like Hallmark and Yahoo use. When browsing both websites, you’ll notice that purple is an accent color. On Hallmark, the logo and the top navigation are purple but the rest of the website uses a variety of other colors. On Yahoo, the logo, top navigation words, and Yahoo icons like Mail use the color purple.</p>
  </section>

  <section>
    <h2>Pink</h2>
    <p>Pink is feminine, soft and romantic. It’s the colour of brands that serve female customers. Benefit cosmetics, Victoria’s Secret and Barbie are synonymous with the colour pink.</p>
    <p>Pink is also a colour of love. It’s playful and humorous, communicating lightheartedness and fun. Avoid using pink if your content is serious.</p>
    <p>If your content is fun, pink makes a great primary button colour, particularly when it’s offset against a dark background. Vibrant shades of pink can be very fresh and eye-catching, while softer ones can be calm and understated.</p>
  </section>

  <section>
    <h2>White</h2>
    <p>By definition, white is pure light. For this reason, it is a spiritual and humble colour. It doesn’t overwhelm or fight for attention like the others. It has understated connotations.</p>
    <p>White will let other components do the talking. Crisp, clean photography will stand out beautifully on a white surface. Product details information and a ‘buy now’ button are best suited to a white environment.</p>
    <p>White is used to show luxury and elegance. It is the colour of art galleries and Apple stores. It can also be perceived as being sterile, clinical and cold. For this reason, it should be used to promote photography or allow an impressive typeface do the talking.</p>
  </section>

  <section>
    <h2>Black</h2>
    <p>Black is a luxurious colour. The choice of limousines, tuxedos and dresses by Coco Chanel. It is understated and mysterious, synonymous with elegance and sophistication.</p>
    <p>Brands like Sony, Beats and Samsung use black in their product lines because it’s classic. Black never looks dated, never goes out of style. It is a constant choice for tech companies because using colour in their product design can quickly begin to look dated.</p>
    <p>Since it is — scientifically speaking the ‘absence of light’ — it is also a colour associated with death. Avoid using black as a way to make something stand out — primary buttons and promotional elements should use a bright colour. Black is best used in photography or as a background for sections of a product.</p>
  </section>

  <section>
    <h2>Summary</h2>
    <p>The tone of the colour will change when you add grey. Mixing gray, regardless of how light or dark it is, will tone down the intensity of any color. The tone may be a tint (the colour has a lot of white or light grey added) or a shade (when you add a lot of dark grey or black to the pure colour).</p>
    <p>Selecting the specific tones of a colour is used to communicate qualities of the brand that the company wish to be identified with. The vibrant color of Google, Ebay and Slack are youthful, energetic and exciting. It makes sense then that the tones used are close to the pure colour. Companies such as Tim Hortons, Jameson Whiskey and Levi’s use color that are toned down, as they are relaxed and mature brands who seek customers with those expectations.</p>
    <p>So those are the meanings of the prominent color of the spectrum, and how you can leverage them by combining different color and changing the tone. It’s a big topic, and today we have just scratched the surface, but I hope you found this useful.</p>
  </section>
</section>
